@using Homepage.UI.ViewModels;
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@model Homepage.UI.Models.RetailerOrderTemp;
@inject IHtmlLocalizer<SharedResource> L
@{
    ViewData["Title"] = "Checkout";
}

@if (!string.IsNullOrEmpty(ViewData["alert_msg"]?.ToString()))
{
    <div class="alert_page">
        <div class="alert alert-@(ViewData["alert_type"])">
            <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
            <strong>@ViewData["alert_msg"]</strong>
        </div>
    </div>
}

<h2 class="col-md-push-6"></h2>
<form class="contact_1" method="post" asp-action="checkout" data-parsley-validate>
    <div class="col-6">
        <div class="col-md-4 col-md-push-2">
            <div class="form-group">
                <h4>@L["CheckOut_Cus_Information"]</h4>
            </div>
            <div class="form-group">
                <label class="required" for="contact_form_username">@L["Name"]</label>
                <input asp-for="Name" type="text" name="name" required id="contact_form_username">
            </div>
            <div class="form-group">
                <label class="required" for="contact_form_email">@L["E-mail"]</label>
                <input asp-for="Email" type="text" required name="Email" id="contact_form_email" data-parsley-required="true" data-parsley-type="email" data-parsley-required-message="Please input email" data-parsley-type-message="Please input email">
            </div>
            <div class="form-group">
                <label class="required" for="contact_form_subj">@L["Phone"]</label>
                <input asp-for="PhoneNumber" type="text" required name="PhoneNumber" id="contact_form_subj">
            </div>
            <div class="form-group">
                <label class="required" for="contact_form_message">@L["AddressName"]</label>
                <input asp-for="Address" type="text" name="Address" required id="contact_form_username">
            </div>
            <div class="form-group">
                <label class="required" for="contact_form_message">@L["Note"]</label>
                <textarea asp-for="Note" required id="contact_form_message" class="textAreaSize" name="Note"></textarea>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="col-md-4 col-md-push-2">
            <div class="form-group">
                <h4>@L["CheckOut_Checkout_Information"]</h4>
            </div>
            <div class="form-group">
                <label class="required" for="contact_form_username">@L["CheckOut_Name_Company"]</label>
                <input asp-for="CompanyName" type="text" name="CompanyName" required id="contact_form_username">
            </div>
            <div class="form-group">
                <label class="required" for="contact_form_message">@L["CheckOut_Shipping_Address"]</label>
                <input asp-for="ShippingAddress" type="text" name="ShippingAddress" required id="contact_form_username">
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label for="contact_form_username">@L["CheckOut_Shipping_Date"]</label>
                    <div class='input-group date' id='datetimepicker1'>
                        <input asp-for="ShippingDate" required type="datetime" name="ShippingDate" asp-format="{0:dd/MM/yyyy}" class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="form-group">
                    <h4>@L["Index_Product"]</h4>
                </div>
                <div class="col-12" style="width: 160%;">
                    <div class="table-responsive">
                        <table id="cart" class="table table-striped">
                            <thead>
                                <tr style="font-weight:bold;">
                                    <th scope="col"> </th>
                                    <th scope="col" class="text-center">@L["Index_Product"]</th>
                                    <th scope="col" class="text-center">@L["Quantity"]</th>
                                    <th scope="col" class="text-right">@L["Total"]</th>
                                    <th> </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>

                </div>
            </div>
            <div class="form-group">
              
            </div>
            <div class="col-md-push-12" style="padding-bottom: 4%;padding-left: 129%;">
                <div class="sc_button sc_button_style_3 sc_button_skin_dark sc_button_style_bg sc_button_size_medium">
                    <button type="submit" value="Checkout" name="contact_submit" class="contact_form_submit" style="width: 120px;">@L["Order"]</button>
                </div>
            </div>
            <input id="infoCart" name="OrderDetail" type="hidden" value="" />
        </div>

    </div>
    
</form>
@section Scripts{
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker();
        });
    </script>
    @if (!string.IsNullOrEmpty(ViewData["alert_msg"]?.ToString()))
    {
        <script>
            $(document).ready(function () {
                $.cookie(CK_PROC_CART, '', { path: '/' });
                loadCart();
                setTimeout(function () {
                    $('.alert_page').remove();
                }, 5000);
            });
        </script>
    }
    else
    {
        <script>
            $(document).ready(function () {
                var strPros = $.cookie(CK_PROC_CART);
                if (typeof strPros === 'undefined' || strPros == '') {
                    strPros = '[]';
                }
                $('#infoCart').val(strPros);

            });

        </script>


        <script>
            var totalprice = 0;
            var price = 0;
            function calPrice(qty, price) {
                return (qty * price);
            }
            loadCartList();
            function loadCartList() {

                $('#cart tbody').html('');
                var total = 0;
                var strPros = $.cookie(CK_PROC_CART);

                if (typeof strPros === 'undefined' || strPros == '') {
                    strPros = '[]';
                }

                var pros = JSON.parse(strPros);
                if (typeof pros === 'undefined') {
                    pros = [];
                }
                for (var i = 0; i < pros.length; i++) {
                    price = pros[i].price;
                    totalprice = (pros[i].qty * price)

                    var html = '<tr>                                                                                                                   ' +
                        '	<td class="cart-img cart-center"><img src="' + pros[i].image + '" /> </td>                                 ' +
                        '	<td class="cart-center">' + pros[i].name + '</td>                                                                      ' +
                        '<td > ' +
                        '<div class="cart-center">' + pros[i].qty +
                        '</div>' +
                        '</td>             ' +
                        '	<td class="text-right cart-center" id="total-price">' + formatNumber(totalprice, ',', '.') + '<strong> ₫</strong>' + '</td>                                                                    ' +
                        '</tr>';

                    $('#cart tbody').append(html);
                    total = (total + (pros[i].qty * pros[i].price));
                }

                var totalhtml = '<tr> ' +
                    '	<td></td>' +
                    '	<td></td>' +
                    '	<td style="text-align: right;"><strong>Tổng tiền</strong></td>' +
                    '	<td class="text-right"><strong>' + formatNumber(total, ',', '.') + '<strong> ₫</strong>' + '</strong></td>' +
                    '	<td></td>' +
                    '</tr>                                                   ';
                $('#cart tbody').append(totalhtml);
                loadCart();
            }

            $(document).ready(function () {
                loadCartList();
            });
        </script>
    }


}